:host {
  display: block;
  padding: 20px;
}

app-user-profile {
  padding: 20px;
}

a {
  display: block;
  margin-top: 20px;
  padding: 10px;
  border-radius: 8px;
  background-color: tomato;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
}